# BASIC PYTHON DATA SCIENCE

This document serves as a complete assembly for the concepts covered in the Data Science Unit of the Innovation Academy Foundations of AI class. It may be used as a comprehensible guide to review information or build understanding.

In [62]:
"You use print statements??? Why?"

'You use print statements??? Why?'

### LISTS PRACTICE

In [5]:
name_list = ["John", "Mary", "Bob", "Alice", "Eve", "Charlie", "David", "Faaythe"]

In [7]:
name_list[4]

'Eve'

In [8]:
name_list[2]

'Bob'

In [9]:
name_list[-6]

'Bob'

### DICTIONARY PRACTICE

In [52]:
my_dict = {
    "name": "Viraj",
    "age": 15,
    "city": "YOU THOUGHT! HA!",
    "is_student": True
}

In [54]:
my_dict["name"] = my_dict["name"] + " Awesome"
my_dict["name"]

'Viraj Awesome Awesome'

### PANDAS PRACTICE

In [11]:
import pandas as pd

In [38]:
data = pd.read_csv("pokemon.csv", header=0, sep=",")

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1028 non-null   int64
 1   Pokemon          1028 non-null   object
 2   Ndex             1028 non-null   int64
 3   Type1            1028 non-null   object
 4   Type2            543 non-null    object
 5   Total            1028 non-null   int64
 6   Hp               1028 non-null   int64
 7   Attack           1028 non-null   int64
 8   Defense          1028 non-null   int64
 9   Special Attack   1028 non-null   int64
 10  Special Defense  1028 non-null   int64
 11  Speed            1028 non-null   int64
dtypes: int64(9), object(3)
memory usage: 96.5+ KB

In [40]:
data

,Unnamed: 0,Pokemon,Ndex,Type1,Type2,Total,Hp,Attack,Defense,Special Attack,Special Defense,Speed
0,1,Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,3,Grass,Poison,525,80,82,83,100,100,80
3,4,Venusaur,3,Grass,Poison,625,80,100,123,122,120,80
4,5,Charmander,4,Fire,NaN,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...
1023,1030,Eternatus,890,Poison,Dragon,1125,255,115,250,125,250,130
1024,1031,Kubfu,891,Fighting,NaN,385,60,90,60,53,50,72
1025,1032,Urshifu,892,Fighting,Dark,550,100,130,100,63,60,97
1026,1033,Urshifu,892,Fighting,Water,550,100,130,100,63,60,97
1027,1034,Zarude,893,Dark,Grass,600,105,120,105,70,95,105

In [41]:
clean_data = data.dropna(axis=0, inplace=False)

In [42]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 0 to 1027
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       543 non-null    int64
 1   Pokemon          543 non-null    object
 2   Ndex             543 non-null    int64
 3   Type1            543 non-null    object
 4   Type2            543 non-null    object
 5   Total            543 non-null    int64
 6   Hp               543 non-null    int64
 7   Attack           543 non-null    int64
 8   Defense          543 non-null    int64
 9   Special Attack   543 non-null    int64
 10  Special Defense  543 non-null    int64
 11  Speed            543 non-null    int64
dtypes: int64(9), object(3)
memory usage: 55.1+ KB

In [43]:
clean_data

,Unnamed: 0,Pokemon,Ndex,Type1,Type2,Total,Hp,Attack,Defense,Special Attack,Special Defense,Speed
0,1,Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45
1,2,Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60
2,3,Venusaur,3,Grass,Poison,525,80,82,83,100,100,80
3,4,Venusaur,3,Grass,Poison,625,80,100,123,122,120,80
6,7,Charizard,6,Fire,Flying,534,78,84,78,109,85,100
...,...,...,...,...,...,...,...,...,...,...,...,...
1022,1029,Eternatus,890,Poison,Dragon,690,140,85,95,145,95,130
1023,1030,Eternatus,890,Poison,Dragon,1125,255,115,250,125,250,130
1025,1032,Urshifu,892,Fighting,Dark,550,100,130,100,63,60,97
1026,1033,Urshifu,892,Fighting,Water,550,100,130,100,63,60,97
1027,1034,Zarude,893,Dark,Grass,600,105,120,105,70,95,105